.start{
	background-color: rgba(35, 176, 73, .3);
}

#header_title{
	text-align: center;
	margin: 1px;
	color: #73120b;
	animation-duration: 3s;
	animation-name: slidein;
}

#header_title:hover{
	color: rgba(35, 176, 73, .5);
}

@keyframes slidein {
	from{
		margin-left: 100%;
		width:300%;
	}
	to{
		margin-left: 0%;
		width: 100%;
	}
}